{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>empty</code> test checks if a variable is empty. A variable is empty if 
		it is null, an empty string, an empty collection, or an empty map.
	</p>

	<p>
		<pre><code>{{ 
'
{% if user.email is empty %}
	...
{% endif %}
'
		| trim | escape }}</code></pre>
	</p>

{% endblock componentDetails %}
	