{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>odd</code> test checks if an integer is odd.
	</p>

	<p>
		<pre><code>{{ 
'
{% if 3 is odd %}
	...
{% endif %}
'
		| trim | escape }}</code></pre>
	</p>

{% endblock componentDetails %}
	