{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>flush</code> tag allows you to flush all currently rendered output to the provided <code>Writer</code>.
		
		<pre><code>{{ 
'
{{ headerText }}
{% flush %}
{{ content }}
'
		| trim | escape }}</code></pre>
	</p>

{% endblock componentDetails %}
	