{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>if</code> tag allows you to designate a chunk of content as conditional
		depending on the result of an expression.
		
		<pre><code>{{ 
'
{% if users is empty %}
	There are no users.
{% elseif users.length == 1 %}
	There is only one user.
{% else %}
	There are many users.
{% endif %}
'
		| trim | escape }}</code></pre>
	</p>
	
	<p>
		The expression used in the <code>if</code> statement often makes use of the <code><a href="../operator/is">is</a></code> operator.
	</p>


{% endblock componentDetails %}
	