{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>import</code> tag allows you to use <code><a href="macro">macros</a></code> defined in another template.
	</p>
	
	<p>
		Assuming that the <code>input</code> macro exists in a template called <code>form_util</code> you can import
		it like so:
		
		<pre><code>{{ 
'
{% import "form_util" %}

{{ input("text", "name", "Mitchell") }}
'
		| trim | escape }}</code></pre>
	</p>

{% endblock componentDetails %}
	