{% extends "documentation/reference/component" %}


{% block breadcrumb %}
	<li><a href="/{{ contextRoot }}/documentation/tag">Tags</a></li>
{% endblock breadcrumb %}	


{% block componentName %}Tags{% endblock componentName %}

{% block componentDetails %}
	<ul>
		<li><a href="tag/block">block</a></li>
		<li><a href="tag/extends">extends</a></li>
		<li><a href="tag/for">for</a></li>
		<li><a href="tag/if">if</a></li>
		<li><a href="tag/import">import</a></li>
		<li><a href="tag/include">include</a></li>
		<li><a href="tag/macro">macro</a></li>
		<li><a href="tag/set">set</a></li>
	</ul>
{% endblock componentDetails %}