{% extends "base" %}

{% block navigation %}
	<li><a href="home">Home</a></li>
	<li><a href="documentation">Documentation</a></li>
	<li class="active"><a href="release-notes">Release Notes</a></li>
{% endblock navigation %}

{% block pageheader %}
	<h1>Release Notes</h1> 
    <p>A sleek modern java templating engine. Here is some more information, and finally this important point.</p>
{% endblock pageheader %}

{% block content %}
	<h1>Release Notes</h1>
{% endblock content%}