{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>message</code> function is used to retrieve messages from a locale-specific <code>ResourceBundle</code>.
		Every {{ api(currentVersion, 'template', 'PebbleTemplate') }} is assigned a default locale from the
		{{ api(currentVersion, null, 'PebbleEngine') }}. At the point of evaluation, this locale can be changed with an
		argument to the <code>evaluate(...)</code> method of the individual template.
	</p>
	<p>
		The <code>message</code> function will wrap around <code>ResourceBundle.getBundle(name, locale).getObject(key)</code>. The first
		argument to the <code>message</code> function is the name of the bundle and the second argument is 
		the key within the bundle.
	</p>
	
	<p>
		<pre><code>{{ 
'
{{ message("messages","greeting") }}
'
		| trim | escape }}</code></pre>
	</p>
	<p>
		The above example assumes you have <code>messages.properties</code> on your classpath and that that file contains
		a key by the name of <code>greeting</code>. If the locale of that template was <code>es_US</code> for example,
		it would look for a <code>message_es_US.properties</code> file instead.
	</p>


{% endblock componentDetails %}
	