{% extends "documentation/guides/guide" %}

{% block pageheader %}
	<h1>High Performance</h1> 
    <p>Concurrent evaluations and static typing.</p>
{% endblock pageheader %}

{% block guideTitle %}High Performance Techniques{% endblock %}

{% block guideContent %}
		
		<h3>Concurrent Evaluations</h3>
		<p>
			Coming soon...
		</p>
		
		<h3>Static Typing</h3>
		<p>
			Coming soon...
		</p>
		
		<h3>HTML Evaluation Deferment (Big Pipe)</h3>
		<p>
			Coming soon...
		</p>
		
{% endblock %}