{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		All the regular math operators are available for use. Order of operations applies.
	</p>

	<p>
		<pre><code>{{ 
'
{{ 2 + 2 / ( 10 % 3 ) * (8 - 1) }}
'
		| trim | escape }}</code></pre>
	</p>
	
	<p>The result can be negated using the <a href="logic#not">not</a> operator.</p>

{% endblock componentDetails %}
	