{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>capitalize</code> filter will capitalize the first letter of the string.
		
		<pre><code>{{ 
'
{{ "article title" | capitalize }}
'
		| trim | escape }}</code></pre>
	</p>
	<p>The above example will output the following:</p>
	<pre><code>{{ 
'
Article title
'
		| trim | escape }}</code></pre>	


{% endblock componentDetails %}
	