{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>date</code> filter will construct a <code>java.text.SimpleDateFormat</code> using the
		provided pattern to format the provided <code>java.util.Date</code> object. The alternative way to use this
		filter is to use it on a string but then provide two arguments: the first is the pattern
		used in the string and the second argument is the pattern desired.
	</p>
	
	<p>
		Here is an example of how to format an existing <code>java.util.Date</code> object:
		<pre><code>{{ 
'
{{ user.birthday | date("yyyy-MM-dd") }}
'
		| trim | escape }}</code></pre>
	</p>
	
	<p>
		Here is an example of how to reformat a string. First argument is the existing pattern, second argument
		is the desired pattern.
		<pre><code>{{ 
'
{{ "July 24, 2001" | date("MMMM dd, yyyy", "yyyy-MM-dd") }}
'
		| trim | escape }}</code></pre>
	</p>	


{% endblock componentDetails %}
	