{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>default</code> filter will render a default value if and only if the object being filtered
		is empty. To determine if a variable is "empty" it uses the <code><a href="../test/empty">empty</a></code> test. 
	</p>
	
	<p>
		<pre><code>{{ 
'
{{ professor.faculty | default("not applicable") }}
'
		| trim | escape }}</code></pre>
	</p>


{% endblock componentDetails %}
	