{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>lower</code> filter makes an entire string lower case.
		 
	</p>
	
	<p>
		<pre><code>{{ 
'
{{ "THIS IS A LOUD SENTENCE" | lower }}
'
		| trim | escape }}</code></pre>
	</p>
			<p>The above example will output the following:</p>
	<pre><code>{{ 
'
this is a loud sentence
'
		| trim | escape }}</code></pre>	


{% endblock componentDetails %}
	