{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>trim</code> filter is used to trim whitespace off the beginning and
		end of a string.		 
	</p>
	
	<p>
		<pre><code>{{ 
'
{{ "    This text has too much whitespace.    " | trim }}

{#
	output: "This text has too much whitespace."
#}
'
		| trim | escape }}</code></pre>
	</p>


{% endblock componentDetails %}
	