{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>upper</code> filter makes an entire string upper case.
		 
	</p>
	
	<p>
		<pre><code>{{ 
'
{{ "this is a quiet sentence." | upper }}
'
		| trim | escape }}</code></pre>
	</p>
			<p>The above example will output the following:</p>
	<pre><code>{{ 
'
THIS IS A QUIET SENTENCE.
'
		| trim | escape }}</code></pre>	


{% endblock componentDetails %}
	