{% extends "documentation/reference/component" %}

{% block componentDetails %}
	<p>
		The <code>urlencode</code> translates a string into <code>application/x-www-form-urlencoded</code> format using
		the "UTF-8" encoding scheme.
	</p>
	
	<p>
		<pre><code>{{ 
'
{{ "The string ü@foo-bar" | urlencode }}
'
		| trim | escape }}</code></pre>
	</p>		<p>The above example will output the following:</p>
	<pre><code>{{ 
'
The+string+%C3%BC%40foo-bar
'
		| trim | escape }}</code></pre>	


{% endblock componentDetails %}
	