{% extends "base" %}

{% block navigation %}
	{% set activeNav = "Blog" %}
	{{ parent() }}
{% endblock navigation %}

{% block pageheader %}
	<h1>Blog</h1> 
    <p>A sleek modern java templating engine. Here is some more information, and finally this important point.</p>
{% endblock pageheader %}

{% block content %}
	<div class="container">
		<h2>Blog</h2>
	</div>
{% endblock content%}