{% extends "base" %}

{% block navigation %}
	<li><a href="home">Home</a></li>
	<li class="active"><a href="documentation">Documentation</a></li>
	<li><a href="release-notes">Release Notes</a></li>
{% endblock navigation %}

{% block content %}
	<h1>Documentation</h1>
{% endblock content%}