{% extends "base" %}

{% block navigation %}
	{% set activeNav = "Get Started" %}
	{{ parent() }}
{% endblock navigation %}

{% block pageheader %}
	<h1>Get Started</h1> 
    <p>A sleek modern java templating engine.</p>
{% endblock pageheader %}

{% block content %}
	<div class="container content">
		<h2>Download</h2>
		<p>Documentation coming soon.</p>
		
		<h2>Installation</h2>
		<p>Documentation coming soon.</p>
	</div>
{% endblock content%}