{% extends "base" %}

{% block navigation %}
	{% set activeNav = "Get Started" %}
	{{ parent() }}
{% endblock navigation %}

{% block pageheader %}
	<h1>Get Started</h1> 
    <p>A sleek modern java templating engine. Here is some more information, and finally _self important point.</p>
{% endblock pageheader %}

{% block content %}
	<div class="container">
		<h2>Download</h2>
	
		
		<h2>Installation</h2>
	</div>
{% endblock content%}