{% extends "base" %}

{% block pageheader %}
	<h1>Pebble</h1> 
    <p>A modern Java templating engine that goes lightning fast. Easy to learn, easy to read, ready for anything.</p>
    <p>
		<a class="btn btn-info btn-lg" href="documentation">Learn more</a>
		<a class="btn btn-success btn-lg" href="documentation/installation">Get started</a>
	</p>
	<p>
		Alpha: <a class="version-number" href="release-notes">0.0.1</a>
	</p>
{% endblock pageheader %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
		    <h2>What is it?</h2>
		    <p>
		    	<dl class="dl-horizontal">
		    		<dt>Fast:</dt><dd> Templates are compiled down to byte code for optimal performance.</dd>
		    		<dt>Flexible:</dt><dd> Pebble can be customized with new tags, filters, functions and much more.</dd>
		    		<dt>Easy:</dt><dd> Effortless to setup, quick to learn, and easy on the eyes.</dd>
		    		<dt>Modern:</dt><dd> Inheritance, composition, and reusable elements allow for a modern architecture.</dd>
		    	</dl>
		    </p>
	    </div>
	    <div class="col-md-4"></div>
    </div>

    <div class="row">
		<div class="col-md-6">
		    <h2>Synopsis</h2>
		    <p>
		    	Lorem ipsum dolor sit amet, debet quidam vel cu, exerci ullamcorper ut est. Nec at quod inimicus elaboraret. Sea tale dolores tincidunt no, amet elit deseruisse his in, vim partiendo definiebas at. Nisl reprimique omittantur cum at, eos legendos adolescens consetetur cu, ea per regione intellegat. Est possit argumentum eu, ad mollis abhorreant vix. Vis clita veritus ut, legimus ancillae pri ad. Cu vix alii adipiscing suscipiantur, nam gloriatur reprimique ei.
		    </p>
    	</div>
	    <div class="col-md-6"></div>
    </div>
    
    <h2>Highlights</h2>
    
    <h4>Expressions</h4>
    <p>
    	Lorem ipsum dolor sit amet, debet quidam vel cu, exerci ullamcorper ut est. Nec at quod inimicus elaboraret. Sea tale dolores tincidunt no, amet elit deseruisse his in, vim partiendo definiebas at. Nisl reprimique omittantur cum at, eos legendos adolescens consetetur cu, ea per regione intellegat. Est possit argumentum eu, ad mollis abhorreant vix. Vis clita veritus ut, legimus ancillae pri ad. Cu vix alii adipiscing suscipiantur, nam gloriatur reprimique ei.
    </p>
    
    <h4>Inheritance</h4>
    <p>
    	Lorem ipsum dolor sit amet, debet quidam vel cu, exerci ullamcorper ut est. Nec at quod inimicus elaboraret. Sea tale dolores tincidunt no, amet elit deseruisse his in, vim partiendo definiebas at. Nisl reprimique omittantur cum at, eos legendos adolescens consetetur cu, ea per regione intellegat. Est possit argumentum eu, ad mollis abhorreant vix. Vis clita veritus ut, legimus ancillae pri ad. Cu vix alii adipiscing suscipiantur, nam gloriatur reprimique ei.
    </p>
    
    <h4>Composition and Macros</h4>
    <p>
    	Lorem ipsum dolor sit amet, debet quidam vel cu, exerci ullamcorper ut est. Nec at quod inimicus elaboraret. Sea tale dolores tincidunt no, amet elit deseruisse his in, vim partiendo definiebas at. Nisl reprimique omittantur cum at, eos legendos adolescens consetetur cu, ea per regione intellegat. Est possit argumentum eu, ad mollis abhorreant vix. Vis clita veritus ut, legimus ancillae pri ad. Cu vix alii adipiscing suscipiantur, nam gloriatur reprimique ei.
    </p>
    
    
    <h2>Getting Started</h2>
    <p>
	    <ul>
	    	<li><a href="#">Installation</a></li>
	    	<li><a href="#">Documentation</a></li>
	    </ul>
    </p>
{% endblock content%}