{% extends "base" %}

{% block navigation %}
	{% set activeNav = "Release Notes" %}
	{{ parent() }}
{% endblock navigation %}

{% block pageheader %}
	<h1>Release Notes</h1> 
    <p>A sleek modern java templating engine. Here is some more information, and finally this important point.</p>
{% endblock pageheader %}

{% block content %}
	<h2>Release Notes</h2>
	
	
{% endblock content%}