{% extends "documentation/reference/tag/tag" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active"><a href="/{{ contextRoot }}/documentation/tag/block">block</a></li>
{% endblock breadcrumb %}	

{% block componentName %}Block{% endblock componentName %}

{% block componentDetails %}
	<p>Block details go here.</p>
{% endblock componentDetails %}
	