.muted{ color: #999; }
.container .credit { margin:20px 0;}
#wrap { padding-top:60px; }
#footer { background-color: #f5f5f5; height:60px;}

.news-item { margin-top:20px; padding-bottom:20px; border-bottom: 1px solid #efefef; }

p.like-count { margin-top:30px; font-size:12px; color:#ccc; margin-bottom:0px;}
.comments{ background: #edeff4; padding:10px; }
.comments input { border:1px solid #ddd; padding:3px 5px; width:100%;}